<<<<<<< HEAD
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

canvas {
  position: absolute;
=======
body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  position: absolute;
>>>>>>> 3489c45548f91266e0e874678ae01d7451a44c24
}